body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.search-field{
    height: 50px;
    padding: 10px;
    border: none;
    outline: none;
}

.jobType{
   width: 300px; 
}

.location{
    width: 200px;
}

.type{
    width: 200px;
}

.search-btn{
    height: 50px;
    width: 150px;
    background-color: #28bbbb;
    border: none;
    color: white;
}

.form-box{
    background: rgba(255, 255, 255,0.5);
    width: fit-content;
}

.fa-search{
    color: #28bbbb;
}

.fa-calendar{
    color: #28bbbb; 
}

.fa-map-marker-alt{
    color: #28bbbb;   
}